@import './normalize',
        './global';

body {
    background: white;
    color: $color-black;
    font-family: $font-montserrat;
    font-weight: 400;
}

button, input, textarea, li, div {
    font-family: $font-montserrat;
    font-weight: 400;
    color: $color-black;
}

.container {
    max-width: 1792px;
    width: calc(100% - 128px);
    margin: 0 auto;

    @include media(1600) {
        width: calc(100% - 64px);
    }

    @include media(768) {
        width: calc(100% - 32px);
    }
}

// Header
.header {
    @include media(1150) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    &-top {
        background: $color-blue;
        padding: 13px 0;

        @include media(768) {
            padding: 8px 0;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 14px;

            @include media(768) {
                flex-direction: column;
                gap: 4px;
            }
        }

        &__text {
            display: flex;
            align-items: center;
            gap: 14px;

            @include media(768) {
                gap: 8px;
            }

            img {
                @include media(768) {
                    width: 10px;
                    height: auto;
                }
            }

            p {
                font-size: 16px;
                line-height: 140%;
                color: $color-white;

                @include media(768) {
                    font-size: 10px;
                }
            }
        }

        a {
            font-size: 16px;
            line-height: 140%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $color-white;

            @include media(768) {
                font-size: 10px;
            }
        }
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;

        @include media(768) {
            padding: 24px 0 8px;
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 19px;
        flex-shrink: 0;

        @include media(768) {
            gap: 10px;
        }

        img {
            @include media(768) {
                width: 34.97px;

                &:nth-child(2) {
                    width: 54.78px;
                }
            }
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        gap: 30px;

        @include media(1150) {
            display: none;
        }

        li {
            display: flex;
        }

        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: $color-total-black;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 16px;

        a {
            display: flex;

            img {
                @include media(768) {
                    width: 24px;
                }
            }
        }
    }

    &-bars {
        display: none;

        @include media(1150) {
            display: flex;
        }

        img {
            width: 36px;

            @include media(768) {
                width: 24px;
            }
        }
    }
}
// Header end

// Dashboard
.dashboard {
    max-width: 1920px;
    margin: 0 auto;

    @include media(1150) {
        padding-top: 16px;
    }

    &-container {
        display: flex;
        align-items: stretch;

        @include media(1150) {
            flex-direction: column;
            width: calc(100% - 32px);
            margin: 0 auto;
        }
    }

    &-btn {
        width: 100%;
        background: $color-light-blue;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;

        @include media(-1150) {
            display: none;
        }

        &__left {
            font-weight: 500;
            font-size: 12px;
            line-height: 132%;
            color: $color-dark-blue;
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 16px;
            }
        }

        .icon {
            transition: .3s ease-in-out all;
            flex-shrink: 0;
        }

        &.active .icon {
            transform: rotateZ(180deg);
        }
    }

    &-left {
        min-height: calc(100svh - 161.4px);
        padding: 43px 32px;
        width: 488px;
        flex-shrink: 0;
        border-radius: 0 24px 24px 0;
        position: relative;
        z-index: 1;

        @include media(1600) {
            width: 380px;
        }

        @include media(1150) {
            min-height: inherit;
            width: 100%;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
        }

        &::before {
            content: "";
            background: $color-grey-300;
            width: 100vw;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            position: absolute;
            border-radius: 0 24px 24px 0;

            @include media(1150) {
                display: none;
            }
        }
    }

    &-nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include media(1150) {
            background: $color-grey-300;
            border-radius: 6px;
        }

        li {
            display: flex;
            width: 100%;
        }

        a {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 18px;
            padding: 21px 32px 20px;
            font-weight: 500;
            font-size: 22px;
            line-height: 132%;
            border-radius: 16px;

            @include media(1150) {
                font-size: 12px;
                line-height: 132%;
                padding: 10px 16px;
                gap: 12px;
            }

            img {
                @include media(1150) {
                    width: 16px;
                }

                &:first-child {
                    display: none;
                }
            }

            &.active {
                @include media(-1150) {
                    background: $color-light-blue;
                    color: $color-dark-blue;

                    img {
                        display: none;
                        flex-shrink: 0;

                        &:first-child {
                            display: block;
                        }
                    }
                }

                @include media(1150) {
                    display: none;
                }
            }
        }
    }

    &-right {
        padding: 0 64px 38px 32px;
        width: 100%;

        @include media(1600) {
            padding-right: 32px;
        }

        @include media(1150) {
            padding: 16px 0 48px;
        }
    }

    &-home {
        min-height: 580px;
        position: relative;
        z-index: 1;
        border-radius: 24px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 73px;
        padding: 32px;

        @include media(1150) {
            min-height: inherit;
            border-radius: 16px;
            padding: 24px 16px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            z-index: -1;
            opacity: 0.22;
        }

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }

        &__head {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 611px;

            @include media(1150) {
                gap: 12px;
            }

            h2 {
                font-weight: 500;
                font-size: 60px;
                line-height: 116%;
                color: $color-white;

                @include media(1150) {
                    font-size: 28px;
                }
            }

            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 132%;
                color: $color-white;

                @include media(1150) {
                    font-size: 14px;
                }
            }
        }

        ul {
            display: flex;
            align-items: stretch;
            gap: 16px;

            @include media(1440) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
            }

            @include media(1150) {
                gap: 12px;
            }

            @include media(768) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        li {
            width: 300px;
            backdrop-filter: blur(25px);
            background: $color-white;
            display: flex;
            flex-direction: column;
            gap: 26px;
            padding: 24px;
            border-radius: 16px;

            @include media(1440) {
                width: 100%;
            }

            @include media(1150) {
                gap: 12px;
                padding: 12px 16px;
                border-radius: 8px;
            }

            &:nth-child(3) {
                grid-column: span 2;

                @include media(768) {
                    grid-column: span 1;
                }
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;

                @include media(1150) {
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            h3 {
                font-weight: 500;
                font-size: 44px;
                line-height: 124%;

                @include media(1150) {
                    font-size: 24px;
                }
            }
        }
    }

    &-block {
        margin: 86px 0;

        @include media(768) {
            margin: 48px 0;
        }

        h2 {
            font-weight: 500;
            font-size: 28px;
            line-height: 124%;
            letter-spacing: -0.02em;
            margin-bottom: 40px;

            @include media(768) {
                font-size: 18px;
                margin-bottom: 24px;
                line-height: 160%;
            }
        }

        .card {
            &-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 32px;

                @include media(1440) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 24px;
                }

                @include media(576) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            &-head {
                position: relative;
                z-index: 1;
                border-radius: 24px;
                overflow: hidden;
                height: 340px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;

                @include media(768) {
                    height: 220px;
                    padding: 16px;
                    border-radius: 16px;
                }

                .main-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                }
            }

            &-alert {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 8px 16px;
                    border-radius: 50px;
                    background: $color-white;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;

                    @include media(768) {
                        font-size: 12px;
                        padding: 5px 16px;
                    }

                    &:last-child {
                        background: $color-black;
                        color: $color-white;
                    }
                }
            }

            .icon {
                width: 62px;
                height: 62px;
                border-radius: 50%;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $color-white;

                @include media(768) {
                    width: 38px;
                    height: 38px;

                    img {
                        width: 26px;
                        height: auto;
                    }
                }
            }

            &-body {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding-top: 16px;

                @include media(768) {
                    padding-top: 12px;
                    gap: 12px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 132%;

                    @include media(768) {
                        font-size: 18px;
                        line-height: 160%;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 140%;

                    @include media(768) {
                        font-size: 12px;
                        line-height: 160%;
                    }
                }
            }
        }
    }

    &-direction {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @include media(1440) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        @include media(576) {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            position: relative;
            z-index: 1;
            height: 224px;
            background: $color-grey-300;
            border-radius: 24px;
            overflow: hidden;
            padding: 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @include media(768) {
                padding: 24px;
                border-radius: 16px;
                height: 180px;
            }

            img {
                position: absolute;
                z-index: -1;
                right: 0;
                bottom: 7px;
                width: 183px;

                @include media(768) {
                    right: -55.8px;
                    bottom: -20.8px;
                }
            }

            &:nth-child(2) img {
                width: 198px;
                bottom: 10.61px;

                @include media(768) {
                    width: 165px;
                    right: -52.4px;
                    bottom: -3.4px;
                }
            }

            &:nth-child(3) img {
                width: 209px;
                bottom: 0;

                @include media(768) {
                    width: 195px;
                    right: -65.31px;
                    bottom: -12.31px;
                }
            }

            &:nth-child(4) img {
                width: 172.56px;
                bottom: 13.7px;

                @include media(768) {
                    width: 160px;
                    right: -54.26px;
                    bottom: -8.74px;
                }
            }

            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 132%;

                @include media(768) {
                    font-size: 16px;
                    line-height: 116%;
                }
            }

            a {
                font-weight: 500;
                font-size: 16px;
                color: $color-blue;
                border: 1px solid $color-blue;
                border-radius: 31px;
                padding: 11px 23px;
            }
        }
    }
}
// Dashboard end

// Modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
    }

    &-dialog {
        width: 100%;
        max-height: 100svh;
        overflow-y: scroll;
        padding: 64px 0;

        @include media(768) {
            padding: 16px 0;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-close {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(768) {
            width: 24px;
            height: 24px;

            svg {

            }
        }
    }

    &-content {
        border-radius: 24px;
        padding: 40px;
        max-width: 684px;
        width: 100%;
        margin: 0 auto;
        background: $color-white;
        position: relative;
        z-index: 4;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media(768) {
            border-radius: 12px;
            padding: 24px 16px;
            gap: 24px;
        }

        &__head {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 16px;

            h2 {
                font-weight: 500;
                font-size: 32px;
                line-height: 124%;
                letter-spacing: -0.02em;
                max-width: 500px;

                @include media(768) {
                    font-size: 18px;
                }
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include media(768) {
                gap: 12px;
            }
        }

        .row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @include media(768) {
                grid-template-columns: repeat(1, 1fr);
                gap: 12px;
            }
        }
    }
}
// Modal end

.form {
    &-inp {
        height: 60px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 0 23px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $color-black;
        background: transparent;

        @include media(768) {
            height: 44px;
            padding: 0 15px;
            border-radius: 4px;
            font-size: 12px;
            line-height: 160%;
        }

        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
        }

        &:hover, &:focus {
            border-color: rgba(0, 0, 0, 0.35);
        }
    }

    &-date {
        width: 100%;

        label {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 8px;

            @include media(768) {
                font-size: 12px;
                line-height: 160%;
                margin-bottom: 10px;
            }
        }

        &__inp {
            display: flex;
            align-items: center;
            gap: 8px;

            input {
                border: 1px solid rgba(0, 0, 0, 0.16);
                border-radius: 8px;
                width: 86px;
                height: 64px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: $color-black;
                background: transparent;

                @include media(768) {
                    height: 44px;
                    width: 67px;
                    font-size: 12px;
                    border-radius: 4px;
                }

                &::placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }

                &:hover, &:focus {
                    border-color: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }

    &-select {
        width: 100%;
        height: 60px;
        padding: 0 23px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $color-black;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: transparent;
        background-image: url('../images/select-arrow.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 24px) center;

        @include media(768) {
            height: 44px;
            border-radius: 4px;
            padding: 0 15px;
            background-position: calc(100% - 15px) center;
        }
    }

    &-radio {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        &__item {
            padding: 7px 15px;
            border-radius: 50px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: $color-black;
            display: inline-flex;
            position: relative;
            z-index: 1;
            overflow: hidden;
            border: 1px solid rgba(60, 60, 60, 0.24);

            @include media(768) {
                font-size: 12px;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                z-index: 2;
                opacity: 0;
            }

            &:has(input:checked) {
                background: $color-black;
                color: $color-white;
            }
        }
    }

    &-checkbox {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &__icon {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            z-index: 1;


            &::before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 1px solid $color-total-black;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                cursor: pointer;
                opacity: 0;
            }

            &:has(input:checked)::before {
                border: 2px solid $color-blue;
            }
        }

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;

            @include media(768) {
                font-size: 12px;
            }
        }
    }
}

.main-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #47c0f4;
    border-radius: 31px;
    padding: 0 40px;
    height: 62px;
    font-weight: 300;
    font-size: 18px;
    color: $color-white;
    transition: .2s ease-in-out all;

    @include media(768) {
        height: 44px;
        padding: 0 24px;
        font-size: 16px;
    }

    &:hover {
        background: #43b8e6;
    }

    &:active {
        background: #128bd0;
    }
}


// Webinar
.webinar {
    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 124%;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 64px 32px;

        @include media(1440) {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }

        @include media(650) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-card {
        .card {
            &-head {
                background: $color-grey-300;
                border-radius: 30px 30px 24px 24px;
            }

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 12px;
                padding: 24px 24px 25px;

                @include media(768) {
                    padding: 16px 16px 24px;
                }

                &__text {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;

                        @include media(768) {
                            font-size: 12px;
                        }
                    }

                    b {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 132%;

                        @include media(768) {
                        }
                    }
                }
            }

            &-content {
                border-radius: 24px;
                overflow: hidden;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 340px;
                width: 100%;
                padding: 24px;

                @include media(768) {
                    height: 220px;
                    border-radius: 16px;
                    padding: 16px;
                }

                .main-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                }

                li {
                    background: $color-black;
                    padding: 8px 16px;
                    border-radius: 50px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-white;

                    @include media(768) {
                        font-size: 12px;
                        padding: 5.5px 16px;
                    }

                    &:nth-child(2) {
                        background: $color-light-blue;
                        color: $color-dark-blue;
                    }
                }

                a {
                    width: 62px;
                    height: 62px;
                    border-radius: 50%;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-white;

                    @include media(768) {
                        width: 38px;
                        height: 38px;

                        img {
                            width: 25.92px;
                        }
                    }
                }

                button {
                    display: none;
                }
            }

            &-text {
                padding-top: 16px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                @include media(768) {
                    padding-top: 12px;
                    gap: 12px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 140%;
                    letter-spacing: -0.02em;

                    @include media(768) {
                        font-size: 16px;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;

                    @include media(768) {
                        font-size: 12px;
                    }
                }
            }
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }

        &.lock {
            .card {
                &-content {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $color-white;
                        opacity: 0.6;
                        z-index: 2;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        z-index: 3;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background: $color-white;

                        @include media(768) {
                            width: 40px;
                            height: 40px;
                            border-radius: 10.33px;

                            img {
                                width: 19.7px;
                            }
                        }
                    }
                }

                &-text {
                    opacity: 0.4;
                }
            }
        }
    }
}
// Webinar end

// Webinar data
.webinar-data {
    padding: 48px 0 120px;

    @include media(768) {
        padding: 48px 0;
    }

    .bg {
        &-1 {
            width: 613px;
            position: absolute;
            top: 197px;
            right: -148px;
            z-index: -1;

            @include media(1200) {
                display: none;
            }
        }
        &-2 {
            width: 613px;
            position: absolute;
            top: 2040px;
            left: -172px;
            z-index: -1;

            @include media(1200) {
                display: none;
            }
        }
        &-3 {
            width: 613px;
            position: absolute;
            top: 3709px;
            right: -148px;
            z-index: -1;

            @include media(1200) {
                display: none;
            }
        }
    }

    &__content {
        max-width: 837px;
        margin: 0 auto;
    }

    &__head {
        margin-bottom: 32px;

        @include media(768) {
            margin-bottom: 24px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;

            @include media(768) {
                font-size: 14px;
            }
        }
    }

    h2 {
        font-weight: 500;
        font-size: 44px;
        line-height: 124%;
        margin-bottom: 24px;

        @include media(768) {
            font-size: 28px;
        }
    }

    &__body {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        @include media(768) {
            margin-bottom: 24px;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            &-label {
                font-size: 14px;
                line-height: 140%;
            }

            &-value {
                font-weight: 500;
                font-size: 24px;
                line-height: 124%;

                @include media(768) {
                    font-size: 18px;
                }
            }

            &-alert {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;

                li {
                    padding: 8px 16px;
                    background: $color-black;
                    border-radius: 50px;
                    font-size: 14px;
                    line-height: 140%;
                    color: $color-white;

                    @include media(768) {
                        font-size: 12px;
                    }
                }
            }
        }

        .main-btn {
            width: auto;
            display: inline-flex;
            padding: 0 24px;
            height: 44px;
            font-size: 16px;
        }
    }

    .question {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;

            @include media(768) {
                gap: 24px;
                margin-bottom: 24px;
            }
        }

        &-item {
            &:not(:last-child) {
                padding-bottom: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            }
        }

        &-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            margin-bottom: 24px;
            max-width: 580px;
            display: flex;
            align-items: flex-start;
            gap: 6px;

            @include media(768) {
                font-size: 16px;
                gap: 5px;
            }
        }

        &-answers {
            display: flex;
            flex-direction: column;
            gap: 14px;

            @include media(768) {
                gap: 12px;
            }

            li {
                width: 100%;
                position: relative;
                z-index: 1;
                display: flex;
                align-items: flex-start;
                gap: 14px;

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    cursor: pointer;
                    opacity: 0;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    position: relative;
                    flex-shrink: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 2px solid $color-blue
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $color-blue;
                        display: none;
                    }
                }

                input:checked ~ .icon::after {
                    display: block;
                }

                p {
                    font-size: 16px;
                    line-height: 140%;

                    @include media(768) {
                        font-size: 14px;
                    }
                }
            }
        }

        &-submit {
            font-size: 22px;
            font-weight: 500;
            height: 59px;

            @include media(768) {
                height: 44px;
                font-size: 16px;
            }
        }
    }
}
// Webinar data end

// Certificate
.certificate {
    padding-bottom: 68px;

    @include media(768) {
        padding: 32px 0 0;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 124%;
        letter-spacing: -0.02em;
        margin-bottom: 72px;

        @include media(768) {
            font-size: 18px;
            margin-bottom: 44px;
        }
    }

    .tab {
        &-head {
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
            display: flex;
            align-items: center;
            gap: 64px;
            margin-bottom: 40px;

            @include media(768) {
                gap: 24px;
                margin-bottom: 24px;
            }

            button {
                font-weight: 500;
                font-size: 22px;
                line-height: 132%;
                padding-bottom: 15px;
                position: relative;

                @include media(768) {
                    font-size: 16px;
                    padding-bottom: 14px;
                }

                &.active {
                    color: $color-dark-blue;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -1px;
                        height: 4px;
                        width: 100%;
                        background: $color-blue;
                        border-radius: 4px;
                    }
                }
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include media(768) {
                gap: 24px;
            }

            &:not(.active) {
                display: none !important;
            }

            &__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                background: $color-grey-300;
                padding: 24px;
                border-radius: 16px;

                @include media(768) {
                    gap: 24px;
                    padding: 24px 16px;
                }

                h3 {
                    background: $color-black;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 50px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-white;

                    @include media(768) {
                        font-size: 12px;
                        padding: 5px 16px;
                    }
                }
            }
        }
    }

    .content {
        width: 100%;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            @include media(768) {
                flex-direction: column;
                align-items: flex-start;
            }

            &:not(:first-child) {
                padding-top: 24px;
                margin-top: 24px;
                border-top: 1px solid rgba(0, 0, 0, 0.16);
            }

            &__left {
                max-width: 704px;
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;

                @include media(768) {
                    font-size: 16px;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                @include media(768) {
                    gap: 8px;
                    flex-direction: column;
                    align-items: flex-start;
                }

                li {
                    border-radius: 50px;
                    background: $color-white;
                    padding: 8px 16px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-dark-blue;

                    @include media(768) {
                        padding: 5.5px 16px;
                        font-size: 12px;
                    }

                    &.bg-blue {
                        background: $color-light-blue;
                    }
                }
            }

            &__right {
                background: $color-blue;
                padding: 10px 24px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                gap: 18px;
                font-weight: 500;
                font-size: 16px;
                color: $color-white;
                flex-shrink: 0;

                @include media(420) {
                    width: 100%;
                    justify-content: center;
                }

                &.disabled {
                    background: $color-grey-400 !important;
                    pointer-events: none !important;
                }
            }
        }
    }
}
// Certificate end

// Tarif
.tarif {
    padding-bottom: 68px;

    @include media(768) {
        padding: 32px 0 0;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 124%;
        letter-spacing: -0.02em;
        margin-bottom: 40px;

        @include media(768) {
            font-size: 18px;
            margin-bottom: 24px;
        }
    }

    &-navs {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 40px;

        @include media(768) {
            margin-bottom: 48px;
        }

        li {
            display: flex;
        }

        a {
            border: 1px solid rgba(60, 60, 60, 0.24);
            border-radius: 31px;
            padding: 7px 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;

            @include media(768) {
                font-size: 12px;
            }

            &.active {
                background: $color-black;
                border-color: $color-black;
                color: $color-white;
            }
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        @include media(1380) {
            grid-template-columns: repeat(1, 1fr);
            gap: 48px;
        }
    }

    &-card {
        background: $color-grey-300;
        border-radius: 24px;
        overflow: hidden;

        @include media(768) {
            border-radius: 16px;
        }

        &__head {
            border-radius: 24px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            height: 340px;
            padding: 24px;

            @include media(768) {
                height: 260px;
                padding: 16px;
                border-radius: 16px;
            }

            .main-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
        }

        &__alert {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            @include media(768) {
                flex-direction: column;
                align-items: flex-start;
            }

            &-item {
                background: $color-white;
                padding: 8px 16px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 16px;
                line-height: 140%;

                @include media(768) {
                    padding: 5px 16px;
                    font-size: 12px;
                }

                &.bg-black {
                    background: $color-black;
                    color: $color-white;
                }
            }
        }

        &__body {
            padding: 32px 24px 24px;

            @include media(768) {
                padding: 24px 16px;
            }

            h3 {
                font-weight: 500;
                font-size: 32px;
                line-height: 124%;
                letter-spacing: -0.02em;
                margin-bottom: 32px;

                @include media(768) {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
            }

            .text {
                //min-height: 400px;
                margin-bottom: 32px;

                @include media(768) {
                    margin-bottom: 24px;
                    min-height: inherit;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 16px;

                @include media(768) {
                    gap: 12px;
                    margin-bottom: 12px;
                }

                li {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 160%;

                    @include media(768) {
                        font-size: 14px;
                    }

                    img {
                        flex-shrink: 0;
                    }
                }
            }

            .alerts {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                @include media(768) {
                    gap: 12px;
                }

                span {
                    padding: 8px 16px;
                    display: flex;
                    background: $color-white;
                    border-radius: 50px;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-dark-blue;

                    @include media(768) {
                        font-size: 12px;
                        padding: 5.5px 16px;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                margin-bottom: 32px;

                @include media(768) {
                    gap: 12px;
                    margin-bottom: 24px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: $color-dark-blue;
                    padding: 8px 16px;
                    background: $color-light-blue;
                    border-radius: 50px;

                    @include media(768) {
                        font-size: 12px;
                        padding: 5.5px 16px;
                    }
                }

                del {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 132%;
                    text-decoration: line-through;
                    color: rgba(60, 60, 60, 0.3);

                    @include media(768) {
                        font-size: 14px;
                    }
                }

                b {
                    font-weight: 500;
                    font-size: 44px;
                    line-height: 124%;

                    @include media(768) {
                        font-size: 28px;
                    }
                }
            }

            .main-btn {
                height: 59px;
                font-size: 22px;
                font-weight: 500;
                width: 100%;

                @include media(768) {
                    height: 44px;
                    font-size: 16px;
                }
            }
        }
    }
}
// Tarif end

// Achievement
.achievement {
    padding-bottom: 68px;

    @include media(768) {
        padding: 32px 0 0;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 124%;
        letter-spacing: -0.02em;

        @include media(768) {
            font-size: 18px;
        }
    }
}
// Achievement end

// Casey
.casey {
    padding-bottom: 68px;

    @include media(768) {
        padding: 32px 0 0;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 124%;
        letter-spacing: -0.02em;

        @include media(768) {
            font-size: 18px;
        }
    }
}
// Casey end
